html,
body {
  background: #222;
  font-family: sans-serif;
  color: #fff;
  margin: 0;
  padding: 3rem;
}

input,
button {
  border-radius: 6px;
  padding: 6px 12px;
  margin-block: 10px;
}

button {
  background: green;
  border: 2px solid white;
  color: white;
  font-weight: bold;
}

a {
  color: cornflowerblue;
}
